---
import Section from "./Section.astro"
import { EXPERIENCE } from '../data/experience.js'
import { isEven } from "../data/utils"

---

<Section id="experiencia" title="Experiencia">
  <div class="w-full py-8 relative flex flex-col items-center gap-4">
    <div class="-z-10 absolute top-0 left-0 lg:left-1/2 lg:-translate-x-1/2 w-14 h-full flex justify-center"><div class="h-full w-2 bg-slate-300/25 rounded-full"></div></div>
    {EXPERIENCE.map((e,i) => (
      <div class={`w-full flex ${isEven(i) && 'lg:flex-row-reverse'} gap-4 overflow-hidden`}>
        <div data-aos={isEven(i) ? 'fade-left' : 'fade-right'} class={`w-1/2 h-14 hidden lg:flex items-center ${i % 2 !== 0 && 'justify-end'}`}>
          <span class="text-slate-200/75 font-light">{e.date}</span>
        </div>
        <span class="w-14 h-14 flex items-center justify-center flex-none text-slate-200/75 text-xl rounded-full bg-slate-950 border-2 border-slate-700">
          <i class="fa-solid fa-graduation-cap"></i>
        </span>
        <div data-aos={isEven(i) ? 'fade-right' : 'fade-left'} class="w-1/2 hidden lg:flex lg:flex-col px-4 py-4 rounded-xl bg-slate-950 border-2 border-slate-700">
          <h3 class="text-lg font-medium">{e.title}</h3>
          <h4 class="text-slate-200/75">{e.place}</h4>
          <span class="lg:hidden text-slate-200/75 font-light">{e.date}</span>
        </div>
        <div data-aos='fade-left' class="w-full lg:hidden flex flex-col px-4 py-4 rounded-xl bg-slate-950 border-2 border-slate-700">
          <h3 class="text-lg font-medium">{e.title}</h3>
          <h4 class="text-slate-200/75">{e.place}</h4>
          <span class="lg:hidden text-slate-200/75 font-light">{e.date}</span>
        </div>
      </div>
    ))}
  </div>
</Section>