---
import Section from "./Section.astro"
import { PROJECTS } from '../data/projects.js'

function isEven(pos) {
    return pos % 2 === 0;
}
---
<Section id="proyectos" title="Proyectos">
  {PROJECTS.map((project, i) => (
    <a 
    href={`/project/${project.id}`} 
    data-aos="zoom-in-up" 
    class={`relative w-full sm:h-80 mb-3 sm:mb-8 last:mb-0
      flex ${isEven(i) ? 'flex-row' : 'flex-row-reverse'} 
      bg-slate-950 rounded-lg border border-slate-700 overflow-hidden
    `}
    >
      <div class={`sm:max-w-[50%] h-full pt-4 pb-7 px-5 sm:pl-10 sm:pr-2 sm:pt-10 flex flex-col
        ${!isEven(i) && 'sm:pr-10 sm:pl-2'}
        `}>
        <h3 class="text-2xl font-semibold">{project.name}</h3>
        <p class="mt-2 text-white/75 line-clamp-3">{project.description}</p>
        <ul class="mt-4 sm:mt-auto flex flex-wrap gap-x-2 gap-y-1">
          {project.stacks.map(stack => <li class="px-3 py-1 bg-slate-700 text-xs uppercase rounded-full">{stack}</li>)}
        </ul>
      </div>
      <img 
      src={project.image} 
      alt={project.name} 
      class={`absolute top-8 ${isEven(i) ? '-right-40' : '-left-40'} w-96 
        hidden sm:block rounded-t-lg shadow-2xl duration-150`} 
      />
    </a>
  ))}
</Section>
<style>
  a:hover img {
    @apply scale-105 -translate-y-2
  }
  a.flex-row:hover img {
    @apply -translate-x-2 -rotate-2
  }
  a.flex-row-reverse:hover img {
    @apply translate-x-2 rotate-2
  }
</style>