---
import Section from "./Section.astro"
import { PROJECTS } from '../data/projects.js'
---
<Section id="proyectos" title="Proyectos">
  <div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    {PROJECTS.map(project => (
    <a href={`project/${project.id}`} class="px-4 py-4 flex flex-col gap-4 bg-slate-950 border border-slate-700 rounded-md duration-150 hover:scale-105">
      <img src={project.image} alt={project.name} class="w-full h-56 lg:h-48 object-cover object-top rounded-md" />
      <h3 class="text-lg font-medium line-clamp-1">{project.name}</h3>
      <p class="text-white/75 line-clamp-3">{project.description}</p>
    </a>
    ))}
  </div>
</Section>
